body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  background: #111; /* Dark grey header for better contrast */
}

h1 {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: red;
}

section#mainGraphic {
  height: 300px; 
}

section#section1Style {
  text-align: center;
}

h2{
  padding-bottom: 2em;
}
section {
  padding: 20px;
  border-bottom: 1px solid #444; 
}

blockquote {
  font-style: italic;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 20px 0;
}

.image-slider {
  position: relative; 
  width: 100%;
  height: 300px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.slider-img {
  display: none; 
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
  margin: auto; 
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.slider-img:first-of-type {
  display: block;
}

section img {
  max-width: 100%;
  height: auto;
}

.player-profile {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 200px; 
  padding: 50px; 
}

.player-image img {
  max-width: 500px; 
  height: auto;
}

.player-quote {
  flex: 1; 
  padding: 20px; 
}

.player-quote blockquote {
  font-style: italic;
}

.player-description {
  text-align: center;
  padding-top: 2em;
}

#siteDescription {
  text-align: center;
}

#siteDescription h2 {
  color: #e2e2e2;
  margin-bottom: 10px;
}

#siteDescription h3 {
  color: #d1d1d1;
  margin-top: 15px;
  padding-bottom: 2em;
  padding-top: 1.5em;
  font-size: x-large;
}

#siteDescription ul {
  list-style-type: none;
  padding: 0;
}

#siteDescription li {
  padding-left: 20px; /* Adjust depending on your bullet image */
  margin-bottom: 10px;
}

#siteDescription p {
  margin-top: 20px;
}

#playerLegacy h4 {
  text-align: center;
  font-size: x-large;
  padding-bottom: 1em;
}

#playerLegacy p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  line-height: 2.6;
}


